*
{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

@font-face {
    font-family: recipeFont;
    src: url();
}

body 
{
    margin: 0;
    background: fixed;
    background-color: lightblue;
    font-family: sans-serif;
}

h1 
{
    text-align: center;
    font-size: 2.0cm;
    border: 5px solid goldenrod;
    border-radius: 20px;
    border-width: 0.12ch;
    width: 100%;
    //max-width:60%;
    justify-content: center;
    text-transform: uppercase;
}

h3 
{
    text-align: center;

}

p
{
    text-align: center;
    display: block;
    font-size: 0.6cm;
}

.divider 
{
    border-bottom: 3px solid goldenrod;
    margin: 2px 0;
}

#header 
{
    display: flex;
    align-items: center;
}